// Início das regras para o componente LunchBoxes

a:hover, a:active, a:focus {
  .lunchbox .previous-price {
    outline: none;
    color: lighten(#7f0000, 20);
  }
}

.lunchbox {
  text-align: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-top: 15px;

  img {
    width: 100%;
    border-radius: 2px;
  }

  .description {
    font-size: 17px;
    text-transform: uppercase;
  }

  .previous-price {
    color: #7f0000;
    text-decoration: line-through;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  .price {
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}

// Fim das regras para o componente LunchBoxes
