// Início das regras para o [Tabs, UIE029]

.nav-tabs {
  & > li {
    // Largura de cada Tab
    min-width: 157px;

    & > a {
      // Tabs não selecionadas
      border-width: 1px 1px 1px 1px;
      border-color: #eee #eee #ddd #eee;
      border-style: solid;
      background-color: #f9f9f9;

      // Título da Tab
      .title {
        width: 100px;
        height: 22px;
        overflow: hidden;
        white-space: nowrap;

        &.has-button {
          float: left;
        }
      }
      // Animação no título da tab quando passado animed como true
      .marquee span {
        display: inline-block;
        animation: marquee 30s linear infinite;
      }

      button {
        margin-left: 3px;
        padding: 0px 4px;
      }
    }
  }
}

// Regras para a animação marquee
@keyframes marquee {
  40% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(-100%, 0);
  }
  70.1% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

// Conteúdo da Tab
.tab-content > .active {
  border: #ddd solid;
  border-width: 0px 1px 1px 1px;
  padding: 8px 12px;
}
// Fim das regras para o [Tabs, UIE029]
